<launch>
  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg name="yaml_file" default="/home/jim/Dev/jim/stomp/stomp/test/stomp_test.yaml"/>
  <arg name="obstacles_file" default="/home/jim/Dev/jim/stomp/stomp/putwall_points/putwall_points_0000001.yaml"/>

  <node pkg="stomp"
    name="stomp_node"
    type="stomp_stomp_node"
    output="screen"
    launch-prefix="$(arg launch_prefix)"
    args="$(arg yaml_file) $(arg obstacles_file)"
    required="true">
  </node>
</launch>

